psutil>=5.9.8
PyYAML>=6.0.1
customtkinter>=5.2.2
Pillow>=10.0.0
pystray>=0.19.5
pyttsx3>=2.90; sys_platform == "win32"
win10toast>=0.9; sys_platform == "win32"
pywin32>=306; sys_platform == "win32"
duckduckgo-search>=6.0
SpeechRecognition>=3.10
